@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


h1 {
    color: #e8f4ff
}

p {
    color: #e8f4ff
}

/*saving our custom variables*/
/*light mode*/
:root {
        --colour-01: #1b1c1b;
        --colour-02: rgb(152, 158, 192);
        --colour-03: rgb(91, 117, 164);
        --colour-04: rgb(47, 67, 106);
    --border: 0.5rem inset var(--colour-03);
}

/*dark mode*/
@media (prefers-color-scheme: dark) {
    :root {
        --colour-01: #1b1c1b;
        --colour-02: rgb(152, 158, 192);
        --colour-03: rgb(91, 117, 164);
        --colour-04: rgb(47, 67, 106);
    }
}

body {
    font-family: "Work Sans", sans-serif;
    background: linear-gradient(
        to bottom,
        #0a1240 0%,
        #0b1f55 55%,
        #1a0f3d 100%
    
        );
    color: var(--colour-01);
    min-height: 100vh;
    margin: 0;
}

dialog[open] {
    background-color: var(--colour-02);
    color: var(--colour-01);
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: var(--border);
}


#ocean {
position: fixed;
inset: 0;
pointer-events: none;
}

.jellyfish {
position: absolute;
width: 150px;
height: auto;
opacity: 0;
animation: jellyfishFade 8s ease-in-out forwards;
}

@keyframes jellyfishFade {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.shooting-star {
    position: absolute;
    width: 80px;
    pointer-events: none;

    animation: shoot 1.5s linear forwards;
}

@keyframes shoot {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(400px, 300px);
        opacity: 0;
    }
}